@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Ekom.API;
@{
    Layout = "Master.cshtml";

    var category = Catalog.Instance.GetCategory();
}

<h1>@category.Title</h1>