<ng-form name="ekomPropertyForm">
  <div id="ekom-{{model.id}}" class="ekomProperty" ng-controller="Ekom.PropertyEditor">

    <ul class="ekom-tabs umb-tabs-nav">
      <li class="ekom-tabs__item umb-tab"
          ng-class="tab.value == currentTab.value ? 'ekom-tabs__item--active umb-tab--active' : ''"
          ng-repeat="tab in tabs"
          ng-click="setCurrentTab(tab);">
          <button class="btn-reset umb-tab-button" type="button">
            {{tab.text}}
          </button>
      </li>
    </ul>

    <div class="ekom-property" ng-repeat="tab in tabs" ng-show="currentTab.value == tab.value">
      <ekom-property view="property.viewPath"
                     config="property.config"
                     tab="tab.value"
                     property-alias="model.alias"
                     value="model.value">
      </ekom-property>
    </div>

  </div>
</ng-form>
